.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/dbnavigator.xml
.idea/misc.xml
.idea/uiDesigner.xml
atp.db
hs_err_pid10576.log
hs_err_pid12152.log
hs_err_pid13724.log
hs_err_pid14596.log
hs_err_pid15000.log
hs_err_pid15904.log
hs_err_pid16692.log
hs_err_pid16932.log
hs_err_pid17168.log
hs_err_pid328.log
hs_err_pid3700.log
hs_err_pid3896.log
hs_err_pid6308.log
hs_err_pid7392.log
hs_err_pid7596.log
hs_err_pid7912.log
lib/or-tools/examples/AllDifferentExcept0/pom.xml
lib/or-tools/examples/AllDifferentExcept0/src/main/java/com/google/ortools/AllDifferentExcept0.java
lib/or-tools/examples/AllInterval/pom.xml
lib/or-tools/examples/AllInterval/src/main/java/com/google/ortools/AllInterval.java
lib/or-tools/examples/AssignmentGroupsMip/pom.xml
lib/or-tools/examples/AssignmentGroupsMip/src/main/java/com/google/ortools/AssignmentGroupsMip.java
lib/or-tools/examples/AssignmentGroupsSat/pom.xml
lib/or-tools/examples/AssignmentGroupsSat/src/main/java/com/google/ortools/AssignmentGroupsSat.java
lib/or-tools/examples/AssignmentLinearSumAssignment/pom.xml
lib/or-tools/examples/AssignmentLinearSumAssignment/src/main/java/com/google/ortools/AssignmentLinearSumAssignment.java
lib/or-tools/examples/AssignmentMb/pom.xml
lib/or-tools/examples/AssignmentMb/src/main/java/com/google/ortools/AssignmentMb.java
lib/or-tools/examples/AssignmentMinFlow/pom.xml
lib/or-tools/examples/AssignmentMinFlow/src/main/java/com/google/ortools/AssignmentMinFlow.java
lib/or-tools/examples/AssignmentMip/pom.xml
lib/or-tools/examples/AssignmentMip/src/main/java/com/google/ortools/AssignmentMip.java
lib/or-tools/examples/AssignmentSat/pom.xml
lib/or-tools/examples/AssignmentSat/src/main/java/com/google/ortools/AssignmentSat.java
lib/or-tools/examples/AssignmentTaskSizesMip/pom.xml
lib/or-tools/examples/AssignmentTaskSizesMip/src/main/java/com/google/ortools/AssignmentTaskSizesMip.java
lib/or-tools/examples/AssignmentTaskSizesSat/pom.xml
lib/or-tools/examples/AssignmentTaskSizesSat/src/main/java/com/google/ortools/AssignmentTaskSizesSat.java
lib/or-tools/examples/AssignmentTeamsMip/pom.xml
lib/or-tools/examples/AssignmentTeamsMip/src/main/java/com/google/ortools/AssignmentTeamsMip.java
lib/or-tools/examples/AssignmentTeamsSat/pom.xml
lib/or-tools/examples/AssignmentTeamsSat/src/main/java/com/google/ortools/AssignmentTeamsSat.java
lib/or-tools/examples/AssumptionsSampleSat/pom.xml
lib/or-tools/examples/AssumptionsSampleSat/src/main/java/com/google/ortools/AssumptionsSampleSat.java
lib/or-tools/examples/BalanceMinFlow/pom.xml
lib/or-tools/examples/BalanceMinFlow/src/main/java/com/google/ortools/BalanceMinFlow.java
lib/or-tools/examples/BasicExample/pom.xml
lib/or-tools/examples/BasicExample/src/main/java/com/google/ortools/BasicExample.java
lib/or-tools/examples/BinPackingMb/pom.xml
lib/or-tools/examples/BinPackingMb/src/main/java/com/google/ortools/BinPackingMb.java
lib/or-tools/examples/BinPackingMip/pom.xml
lib/or-tools/examples/BinPackingMip/src/main/java/com/google/ortools/BinPackingMip.java
lib/or-tools/examples/BinPackingProblemSat/pom.xml
lib/or-tools/examples/BinPackingProblemSat/src/main/java/com/google/ortools/BinPackingProblemSat.java
lib/or-tools/examples/BoolOrSampleSat/pom.xml
lib/or-tools/examples/BoolOrSampleSat/src/main/java/com/google/ortools/BoolOrSampleSat.java
lib/or-tools/examples/CapacitatedVehicleRoutingProblemWithTimeWindows/pom.xml
lib/or-tools/examples/CapacitatedVehicleRoutingProblemWithTimeWindows/src/main/java/com/google/ortools/CapacitatedVehicleRoutingProblemWithTimeWindows.java
lib/or-tools/examples/ChannelingSampleSat/pom.xml
lib/or-tools/examples/ChannelingSampleSat/src/main/java/com/google/ortools/ChannelingSampleSat.java
lib/or-tools/examples/Circuit/pom.xml
lib/or-tools/examples/Circuit/src/main/java/com/google/ortools/Circuit.java
lib/or-tools/examples/CloneModelMb/pom.xml
lib/or-tools/examples/CloneModelMb/src/main/java/com/google/ortools/CloneModelMb.java
lib/or-tools/examples/CloneModelSampleSat/pom.xml
lib/or-tools/examples/CloneModelSampleSat/src/main/java/com/google/ortools/CloneModelSampleSat.java
lib/or-tools/examples/CoinsGrid/pom.xml
lib/or-tools/examples/CoinsGrid/src/main/java/com/google/ortools/CoinsGrid.java
lib/or-tools/examples/CoinsGridMIP/pom.xml
lib/or-tools/examples/CoinsGridMIP/src/main/java/com/google/ortools/CoinsGridMIP.java
lib/or-tools/examples/ColoringMIP/pom.xml
lib/or-tools/examples/ColoringMIP/src/main/java/com/google/ortools/ColoringMIP.java
lib/or-tools/examples/CoveringOpl/pom.xml
lib/or-tools/examples/CoveringOpl/src/main/java/com/google/ortools/CoveringOpl.java
lib/or-tools/examples/CpIsFunCp/pom.xml
lib/or-tools/examples/CpIsFunCp/src/main/java/com/google/ortools/CpIsFunCp.java
lib/or-tools/examples/CpIsFunSat/pom.xml
lib/or-tools/examples/CpIsFunSat/src/main/java/com/google/ortools/CpIsFunSat.java
lib/or-tools/examples/CpSatExample/pom.xml
lib/or-tools/examples/CpSatExample/src/main/java/com/google/ortools/CpSatExample.java
lib/or-tools/examples/Crossword/pom.xml
lib/or-tools/examples/Crossword/src/main/java/com/google/ortools/Crossword.java
lib/or-tools/examples/DeBruijn/pom.xml
lib/or-tools/examples/DeBruijn/src/main/java/com/google/ortools/DeBruijn.java
lib/or-tools/examples/Diet/pom.xml
lib/or-tools/examples/Diet/src/main/java/com/google/ortools/Diet.java
lib/or-tools/examples/DietMIP/pom.xml
lib/or-tools/examples/DietMIP/src/main/java/com/google/ortools/DietMIP.java
lib/or-tools/examples/DivisibleBy9Through1/pom.xml
lib/or-tools/examples/DivisibleBy9Through1/src/main/java/com/google/ortools/DivisibleBy9Through1.java
lib/or-tools/examples/EarlinessTardinessCostSampleSat/pom.xml
lib/or-tools/examples/EarlinessTardinessCostSampleSat/src/main/java/com/google/ortools/EarlinessTardinessCostSampleSat.java
lib/or-tools/examples/FlowExample/pom.xml
lib/or-tools/examples/FlowExample/src/main/java/com/google/ortools/FlowExample.java
lib/or-tools/examples/GolombRuler/pom.xml
lib/or-tools/examples/GolombRuler/src/main/java/com/google/ortools/GolombRuler.java
lib/or-tools/examples/IntegerProgramming/pom.xml
lib/or-tools/examples/IntegerProgramming/src/main/java/com/google/ortools/IntegerProgramming.java
lib/or-tools/examples/IntervalSampleSat/pom.xml
lib/or-tools/examples/IntervalSampleSat/src/main/java/com/google/ortools/IntervalSampleSat.java
lib/or-tools/examples/Issue173/pom.xml
lib/or-tools/examples/Issue173/src/main/java/com/google/ortools/Issue173.java
lib/or-tools/examples/Knapsack/pom.xml
lib/or-tools/examples/Knapsack/src/main/java/com/google/ortools/Knapsack.java
lib/or-tools/examples/KnapsackMIP/pom.xml
lib/or-tools/examples/KnapsackMIP/src/main/java/com/google/ortools/KnapsackMIP.java
lib/or-tools/examples/LeastDiff/pom.xml
lib/or-tools/examples/LeastDiff/src/main/java/com/google/ortools/LeastDiff.java
lib/or-tools/examples/LinearAssignmentAPI/pom.xml
lib/or-tools/examples/LinearAssignmentAPI/src/main/java/com/google/ortools/LinearAssignmentAPI.java
lib/or-tools/examples/LinearProgramming/pom.xml
lib/or-tools/examples/LinearProgramming/src/main/java/com/google/ortools/LinearProgramming.java
lib/or-tools/examples/LinearProgrammingExample/pom.xml
lib/or-tools/examples/LinearProgrammingExample/src/main/java/com/google/ortools/LinearProgrammingExample.java
lib/or-tools/examples/LiteralSampleSat/pom.xml
lib/or-tools/examples/LiteralSampleSat/src/main/java/com/google/ortools/LiteralSampleSat.java
lib/or-tools/examples/MagicSquare/pom.xml
lib/or-tools/examples/MagicSquare/src/main/java/com/google/ortools/MagicSquare.java
lib/or-tools/examples/Map/pom.xml
lib/or-tools/examples/Map/src/main/java/com/google/ortools/Map.java
lib/or-tools/examples/Map2/pom.xml
lib/or-tools/examples/Map2/src/main/java/com/google/ortools/Map2.java
lib/or-tools/examples/Minesweeper/pom.xml
lib/or-tools/examples/Minesweeper/src/main/java/com/google/ortools/Minesweeper.java
lib/or-tools/examples/MinimalJobshopSat/pom.xml
lib/or-tools/examples/MinimalJobshopSat/src/main/java/com/google/ortools/MinimalJobshopSat.java
lib/or-tools/examples/MipVarArray/pom.xml
lib/or-tools/examples/MipVarArray/src/main/java/com/google/ortools/MipVarArray.java
lib/or-tools/examples/MultipleKnapsackMip/pom.xml
lib/or-tools/examples/MultipleKnapsackMip/src/main/java/com/google/ortools/MultipleKnapsackMip.java
lib/or-tools/examples/MultipleKnapsackSat/pom.xml
lib/or-tools/examples/MultipleKnapsackSat/src/main/java/com/google/ortools/MultipleKnapsackSat.java
lib/or-tools/examples/MultiThreadTest/pom.xml
lib/or-tools/examples/MultiThreadTest/src/main/java/com/google/ortools/MultiThreadTest.java
lib/or-tools/examples/NonLinearSat/pom.xml
lib/or-tools/examples/NonLinearSat/src/main/java/com/google/ortools/NonLinearSat.java
lib/or-tools/examples/NoOverlapSampleSat/pom.xml
lib/or-tools/examples/NoOverlapSampleSat/src/main/java/com/google/ortools/NoOverlapSampleSat.java
lib/or-tools/examples/NQueens/pom.xml
lib/or-tools/examples/NQueens/src/main/java/com/google/ortools/NQueens.java
lib/or-tools/examples/NQueens2/pom.xml
lib/or-tools/examples/NQueens2/src/main/java/com/google/ortools/NQueens2.java
lib/or-tools/examples/NQueensCp/pom.xml
lib/or-tools/examples/NQueensCp/src/main/java/com/google/ortools/NQueensCp.java
lib/or-tools/examples/NQueensSat/pom.xml
lib/or-tools/examples/NQueensSat/src/main/java/com/google/ortools/NQueensSat.java
lib/or-tools/examples/NursesSat/pom.xml
lib/or-tools/examples/NursesSat/src/main/java/com/google/ortools/NursesSat.java
lib/or-tools/examples/OptionalIntervalSampleSat/pom.xml
lib/or-tools/examples/OptionalIntervalSampleSat/src/main/java/com/google/ortools/OptionalIntervalSampleSat.java
lib/or-tools/examples/Partition/pom.xml
lib/or-tools/examples/Partition/src/main/java/com/google/ortools/Partition.java
lib/or-tools/examples/QuasigroupCompletion/pom.xml
lib/or-tools/examples/QuasigroupCompletion/src/main/java/com/google/ortools/QuasigroupCompletion.java
lib/or-tools/examples/RabbitsAndPheasantsSat/pom.xml
lib/or-tools/examples/RabbitsAndPheasantsSat/src/main/java/com/google/ortools/RabbitsAndPheasantsSat.java
lib/or-tools/examples/RabbitsPheasants/pom.xml
lib/or-tools/examples/RabbitsPheasants/src/main/java/com/google/ortools/RabbitsPheasants.java
lib/or-tools/examples/RandomTsp/pom.xml
lib/or-tools/examples/RandomTsp/src/main/java/com/google/ortools/RandomTsp.java
lib/or-tools/examples/RankingSampleSat/pom.xml
lib/or-tools/examples/RankingSampleSat/src/main/java/com/google/ortools/RankingSampleSat.java
lib/or-tools/examples/ReifiedSampleSat/pom.xml
lib/or-tools/examples/ReifiedSampleSat/src/main/java/com/google/ortools/ReifiedSampleSat.java
lib/or-tools/examples/ScheduleRequestsSat/pom.xml
lib/or-tools/examples/ScheduleRequestsSat/src/main/java/com/google/ortools/ScheduleRequestsSat.java
lib/or-tools/examples/SearchForAllSolutionsSampleSat/pom.xml
lib/or-tools/examples/SearchForAllSolutionsSampleSat/src/main/java/com/google/ortools/SearchForAllSolutionsSampleSat.java
lib/or-tools/examples/SendMoreMoney/pom.xml
lib/or-tools/examples/SendMoreMoney/src/main/java/com/google/ortools/SendMoreMoney.java
lib/or-tools/examples/SendMoreMoney2/pom.xml
lib/or-tools/examples/SendMoreMoney2/src/main/java/com/google/ortools/SendMoreMoney2.java
lib/or-tools/examples/SendMostMoney/pom.xml
lib/or-tools/examples/SendMostMoney/src/main/java/com/google/ortools/SendMostMoney.java
lib/or-tools/examples/Seseman/pom.xml
lib/or-tools/examples/Seseman/src/main/java/com/google/ortools/Seseman.java
lib/or-tools/examples/SetCovering/pom.xml
lib/or-tools/examples/SetCovering/src/main/java/com/google/ortools/SetCovering.java
lib/or-tools/examples/SetCovering2/pom.xml
lib/or-tools/examples/SetCovering2/src/main/java/com/google/ortools/SetCovering2.java
lib/or-tools/examples/SetCovering3/pom.xml
lib/or-tools/examples/SetCovering3/src/main/java/com/google/ortools/SetCovering3.java
lib/or-tools/examples/SetCovering4/pom.xml
lib/or-tools/examples/SetCovering4/src/main/java/com/google/ortools/SetCovering4.java
lib/or-tools/examples/SetCoveringDeployment/pom.xml
lib/or-tools/examples/SetCoveringDeployment/src/main/java/com/google/ortools/SetCoveringDeployment.java
lib/or-tools/examples/SimpleCpProgram/pom.xml
lib/or-tools/examples/SimpleCpProgram/src/main/java/com/google/ortools/SimpleCpProgram.java
lib/or-tools/examples/SimpleLpProgram/pom.xml
lib/or-tools/examples/SimpleLpProgram/src/main/java/com/google/ortools/SimpleLpProgram.java
lib/or-tools/examples/SimpleLpProgramMb/pom.xml
lib/or-tools/examples/SimpleLpProgramMb/src/main/java/com/google/ortools/SimpleLpProgramMb.java
lib/or-tools/examples/SimpleMaxFlowProgram/pom.xml
lib/or-tools/examples/SimpleMaxFlowProgram/src/main/java/com/google/ortools/SimpleMaxFlowProgram.java
lib/or-tools/examples/SimpleMinCostFlowProgram/pom.xml
lib/or-tools/examples/SimpleMinCostFlowProgram/src/main/java/com/google/ortools/SimpleMinCostFlowProgram.java
lib/or-tools/examples/SimpleMipProgram/pom.xml
lib/or-tools/examples/SimpleMipProgram/src/main/java/com/google/ortools/SimpleMipProgram.java
lib/or-tools/examples/SimpleMipProgramMb/pom.xml
lib/or-tools/examples/SimpleMipProgramMb/src/main/java/com/google/ortools/SimpleMipProgramMb.java
lib/or-tools/examples/SimpleRoutingProgram/pom.xml
lib/or-tools/examples/SimpleRoutingProgram/src/main/java/com/google/ortools/SimpleRoutingProgram.java
lib/or-tools/examples/SimpleRoutingTest/pom.xml
lib/or-tools/examples/SimpleRoutingTest/src/main/java/com/google/ortools/SimpleRoutingTest.java
lib/or-tools/examples/SimpleSatProgram/pom.xml
lib/or-tools/examples/SimpleSatProgram/src/main/java/com/google/ortools/SimpleSatProgram.java
lib/or-tools/examples/SolutionHintingSampleSat/pom.xml
lib/or-tools/examples/SolutionHintingSampleSat/src/main/java/com/google/ortools/SolutionHintingSampleSat.java
lib/or-tools/examples/SolveAndPrintIntermediateSolutionsSampleSat/pom.xml
lib/or-tools/examples/SolveAndPrintIntermediateSolutionsSampleSat/src/main/java/com/google/ortools/SolveAndPrintIntermediateSolutionsSampleSat.java
lib/or-tools/examples/SolveWithTimeLimitSampleSat/pom.xml
lib/or-tools/examples/SolveWithTimeLimitSampleSat/src/main/java/com/google/ortools/SolveWithTimeLimitSampleSat.java
lib/or-tools/examples/StableMarriage/pom.xml
lib/or-tools/examples/StableMarriage/src/main/java/com/google/ortools/StableMarriage.java
lib/or-tools/examples/StepFunctionSampleSat/pom.xml
lib/or-tools/examples/StepFunctionSampleSat/src/main/java/com/google/ortools/StepFunctionSampleSat.java
lib/or-tools/examples/StiglerDiet/pom.xml
lib/or-tools/examples/StiglerDiet/src/main/java/com/google/ortools/StiglerDiet.java
lib/or-tools/examples/StiglerMIP/pom.xml
lib/or-tools/examples/StiglerMIP/src/main/java/com/google/ortools/StiglerMIP.java
lib/or-tools/examples/StopAfterNSolutionsSampleSat/pom.xml
lib/or-tools/examples/StopAfterNSolutionsSampleSat/src/main/java/com/google/ortools/StopAfterNSolutionsSampleSat.java
lib/or-tools/examples/Strimko2/pom.xml
lib/or-tools/examples/Strimko2/src/main/java/com/google/ortools/Strimko2.java
lib/or-tools/examples/Sudoku/pom.xml
lib/or-tools/examples/Sudoku/src/main/java/com/google/ortools/Sudoku.java
lib/or-tools/examples/SurvoPuzzle/pom.xml
lib/or-tools/examples/SurvoPuzzle/src/main/java/com/google/ortools/SurvoPuzzle.java
lib/or-tools/examples/ToNum/pom.xml
lib/or-tools/examples/ToNum/src/main/java/com/google/ortools/ToNum.java
lib/or-tools/examples/Tsp/pom.xml
lib/or-tools/examples/Tsp/src/main/java/com/google/ortools/Tsp.java
lib/or-tools/examples/TspCircuitBoard/pom.xml
lib/or-tools/examples/TspCircuitBoard/src/main/java/com/google/ortools/TspCircuitBoard.java
lib/or-tools/examples/TspCities/pom.xml
lib/or-tools/examples/TspCities/src/main/java/com/google/ortools/TspCities.java
lib/or-tools/examples/TspDistanceMatrix/pom.xml
lib/or-tools/examples/TspDistanceMatrix/src/main/java/com/google/ortools/TspDistanceMatrix.java
lib/or-tools/examples/Vrp/pom.xml
lib/or-tools/examples/Vrp/src/main/java/com/google/ortools/Vrp.java
lib/or-tools/examples/VrpBreaks/pom.xml
lib/or-tools/examples/VrpBreaks/src/main/java/com/google/ortools/VrpBreaks.java
lib/or-tools/examples/VrpCapacity/pom.xml
lib/or-tools/examples/VrpCapacity/src/main/java/com/google/ortools/VrpCapacity.java
lib/or-tools/examples/VrpDropNodes/pom.xml
lib/or-tools/examples/VrpDropNodes/src/main/java/com/google/ortools/VrpDropNodes.java
lib/or-tools/examples/VrpGlobalSpan/pom.xml
lib/or-tools/examples/VrpGlobalSpan/src/main/java/com/google/ortools/VrpGlobalSpan.java
lib/or-tools/examples/VrpInitialRoutes/pom.xml
lib/or-tools/examples/VrpInitialRoutes/src/main/java/com/google/ortools/VrpInitialRoutes.java
lib/or-tools/examples/VrpPickupDelivery/pom.xml
lib/or-tools/examples/VrpPickupDelivery/src/main/java/com/google/ortools/VrpPickupDelivery.java
lib/or-tools/examples/VrpPickupDeliveryFifo/pom.xml
lib/or-tools/examples/VrpPickupDeliveryFifo/src/main/java/com/google/ortools/VrpPickupDeliveryFifo.java
lib/or-tools/examples/VrpPickupDeliveryLifo/pom.xml
lib/or-tools/examples/VrpPickupDeliveryLifo/src/main/java/com/google/ortools/VrpPickupDeliveryLifo.java
lib/or-tools/examples/VrpResources/pom.xml
lib/or-tools/examples/VrpResources/src/main/java/com/google/ortools/VrpResources.java
lib/or-tools/examples/VrpSolutionCallback/pom.xml
lib/or-tools/examples/VrpSolutionCallback/src/main/java/com/google/ortools/VrpSolutionCallback.java
lib/or-tools/examples/VrpStartsEnds/pom.xml
lib/or-tools/examples/VrpStartsEnds/src/main/java/com/google/ortools/VrpStartsEnds.java
lib/or-tools/examples/VrpTimeWindows/pom.xml
lib/or-tools/examples/VrpTimeWindows/src/main/java/com/google/ortools/VrpTimeWindows.java
lib/or-tools/examples/VrpWithTimeLimit/pom.xml
lib/or-tools/examples/VrpWithTimeLimit/src/main/java/com/google/ortools/VrpWithTimeLimit.java
lib/or-tools/examples/WhoKilledAgatha/pom.xml
lib/or-tools/examples/WhoKilledAgatha/src/main/java/com/google/ortools/WhoKilledAgatha.java
lib/or-tools/examples/Xkcd/pom.xml
lib/or-tools/examples/Xkcd/src/main/java/com/google/ortools/Xkcd.java
lib/or-tools/examples/YoungTableaux/pom.xml
lib/or-tools/examples/YoungTableaux/src/main/java/com/google/ortools/YoungTableaux.java
lib/or-tools/LICENSE
lib/or-tools/Makefile
lib/or-tools/ortools-java-9.10.4067-javadoc.jar
lib/or-tools/ortools-java-9.10.4067-sources.jar
lib/or-tools/ortools-java-9.10.4067.jar
lib/or-tools/ortools-win32-x86-64-9.10.4067-sources.jar
lib/or-tools/ortools-win32-x86-64-9.10.4067.jar
lib/or-tools/README.md
